/* styles specific to slnswww1-2col layout ************************
****************************************************************/

.panel-slnswww1-2col-header {
	width: 100%;
	position: relative;
}

.panel-slnswww1-2col-title-strip {
	background-color: #1e1e1e;
}

.panel-slnswww1-2col-title-strip h1 {
	margin: 0 auto;
	max-width: 1120px;
	font-family: Georgia,Times,Times New Roman,serif;
	font-size: 1.5rem;
	font-style: italic;
	color: #fff;
	line-height: 3.625rem;
}

.panel-slnswww1-2col-main-wrapper {
	margin: 1.75rem auto;
	max-width: 1120px;
}

.panel-slnswww1-2col-main {
	float: left;
	margin-right: 2%;
	width: 70%;
	background-color: #fff;
}

.panel-slnswww1-2col-side {
	float: right;
	width: 28%;
	background-color: #fff;
}

.panel-slnswww1-2col-side .panel-pane {
	margin-bottom: 1.5rem;
}

.panel-slnswww1-2col-contact-strip {
	clear: both;
	padding: 1%;
	width: 98%;
	background-color: #f9f9f9;
}

.panel-slnswww1-2col-contact-strip-col-1 {
	float: left;
	width: 48%;
}

.panel-slnswww1-2col-contact-strip-col-2 {
	float: right;
	width: 40%;
	max-width: 28rem;
}

.panel-slnswww1-2col-footer {
	clear: both;
	width: 100%;
}

@media all and (max-width: 78em) {
	.panel-slnswww1-2col-title-strip h1 {
		padding: 0 1%;
		width: 98%;
	}
	
	.panel-slnswww1-2col-main-wrapper {
		margin: 0 auto;
		padding: 0 1%;
		width: 98%;
	}
}

@media all and (max-width: 40em) {
	.panel-slnswww1-2col-title-strip h1 {
		font-size: .875rem;
	}
	
	.panel-slnswww1-2col-main {
		float: none;
		margin: 0 auto;
		width: 98%;
	}
	
	.panel-slnswww1-2col-side {
		float: none;
		margin: 1.5rem auto;
		width: 98%;
	}
	
	.panel-slnswww1-2col-contact-strip {
		padding: 0;
		width: 100%;
	}

	.panel-slnswww1-2col-contact-strip-col-1 {
		float: none;
		margin: 0 auto;
		border-bottom: 1px solid #d8d8d8;
		width: 94%;
	}

	.panel-slnswww1-2col-contact-strip-col-2 {
		float: none;
		margin: 0 auto;
		width: 94%;
		max-width: 94%;
	}
}