/* Global element styles and classes, reset additions and changes
***********************************************************************/

html {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 100%;
}

body {
	font-size: 1rem;
	color: #1e1e1e;
	overflow-x: hidden;
}

strong {
	font-weight: bold;
}

input {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: .75rem;
}

input[type="submit"] {
	box-sizing: content-box;
	border: 0;
	padding: 0;
	cursor: pointer;
}

input[type="text"] {
	border: 0;
	padding: 0;
	height: 2.5rem;
	line-height: 2.5rem;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #6d6d6d;
	color: #fff;
	text-indent: 1rem;
}

input[type="text"]::-webkit-input-placeholder {
   color: #fff;
   opacity: 1;
}

input[type="text"]:-moz-placeholder {
   color: #fff;
   opacity: 1;
}

input[type="text"]::-moz-placeholder {
   color: #fff;
   opacity: 1;
}

input[type="text"]:-ms-input-placeholder {  
  color: #fff;
  opacity: 1;
}

input[type="password"] {
	border: 0;
	padding: 0;
	height: 2.5rem;
	line-height: 2.5rem;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: none repeat scroll 0 0 #e9e6ed;
    color: #1e1e1e;
	text-indent: 1rem;
}

select {
    background: #e9e6ed;
    border: 0;
	 padding: 0;
    box-sizing: content-box;
    color: #1e1e1e;
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    font-size: 0.875rem;
    height: 2.5rem;
	line-height: 2.5rem;
    max-width: 100%;
}

select option {
	padding: .5rem 0;
}

.item-list ul, .item-list ul li {
	margin: 0;
	padding: 0;
}

.form-item, .form-actions {
	margin: 0;
	padding: 0;
}

.view label {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: .875rem;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 1.4;
}

.views-exposed-form input[type="text"] {
	background: #e9e6ed;
	color: #1e1e1e;
}

.views-exposed-form .views-exposed-widgets {
	margin: 0;
}

.views-exposed-form .views-exposed-widget {
	float: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.wysiwyg {
	line-height: 1.4;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: .875rem;
}

.wysiwyg h2 {
	margin-bottom: 1rem;
	font-size: 1.125rem;
	font-weight: bold;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.wysiwyg h3 {
	margin-bottom: .5rem;
	font-size: .875rem;
	font-weight: bold;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.wysiwyg p {
	padding-bottom: 1rem;
}

.wysiwyg ul {
	padding-bottom: 1rem;
	list-style-type: disc;
}

.wysiwyg li {
	margin-left: 2rem;
}

.wysiwyg a {
	color: #0059be;
}

.clearing {
	clear: both;
}

.fixed {
	margin: 0 auto;
	max-width: 1120px;
}

.button {
	display: inline-block;
	padding: 0 1rem;
	height: 2.625rem;
	line-height: 2.625rem;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: .875rem;
	color: #fff;
	background-color: #0059be;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.button:hover {
	background-color: #00cc99;
}

.inner-wrapper {
	margin: 0 auto;
	max-width: 1120px;
}

.box-list .item-list li {
	box-sizing: border-box;
	float: left;
	margin: 0 1.25% 1% 0;
    border: 1px solid #d8d8d8;
	width: 32.5%;
}

.box-list .item-list  li:nth-child(3n + 1) {
	clear: left;
}

.box-list .item-list  li:nth-child(3n) {
	margin-right: 0;
}

.box-list .item-list  li img {
	width: 100% !important;
	height: auto !important;
	opacity: 1;
    transition: all 0.5s ease 0s;
}

.box-list .item-list li img:hover {
	opacity: 0.5;
}

.box-list .title {
	padding: .5rem;
}

.box-list .title a {
	display: inline-block;
	color: #1e1e1e;
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
	line-height: 1.3;
}

.deepzoom {
	border: 2px solid #1e1e1e;
	background-color: #ebebeb;
}

.smallish {
	display: none;
}

.mediumish {
	display: none;
}

.largish {
	display: block;
}

@media all and (max-width: 78em) {
	.largish {
		display: none;
	}
	
	.smallish {
		display: none;
	}
	
	.mediumish {
		display: block;
	}
	
	.fixed {
		margin: 0 1%;
		width: 98%;
	}
	
	.wysiwyg {
		font-size: .75rem;
	}
	
	.wysiwyg h2 {
		font-size: .875rem;
	}
	
	.wysiwyg h3 {
		font-size: .75rem;
	}
	
	.view label {
		font-size: .75rem;
	}
	
	.box-list .item-list  li {
		margin: 1% 2% 1% 0;
		width: 49%;
	}

	.box-list .item-list  li:nth-child(3n + 1) {
		clear: none;
	}

	.box-list .item-list  li:nth-child(3n) {
		margin-right: 1%;
	}

	.box-list .item-list  li:nth-child(2n + 1) {
		clear: left;
	}

	.box-list .item-list  li:nth-child(2n) {
		margin-right: 0;
	}
	
	.box-list .item-list .title a {
		font-size: .875rem;
	}
}

@media all and (max-width: 40em) {
	.largish {
		display: none;
	}
	
	.mediumish {
		display: none;
	}
	
	.smallish {
		display: block;
	}
	
	.box-list .item-list .title a {
		font-size: .75rem;
	}
}