/* styles specific to slnswww1-home layout ************************
****************************************************************/
.panel-slnswww1-home-header {
	width: 100%;
	position: relative;
}

.panel-slnswww1-home-main {
	clear: both;
	width: 100%;
	margin: 1.75rem 0;
}

.panel-slnswww1-home-contact-strip {
	clear: both;
	padding: 1%;
	width: 98%;
	background-color: #f9f9f9;
}

.panel-slnswww1-home-contact-strip-col-1 {
	float: left;
	width: 48%;
}

.panel-slnswww1-home-contact-strip-col-2 {
	float: right;
	width: 40%;
	max-width: 28rem;
}

.panel-slnswww1-home-footer {
	clear: both;
	width: 100%;
}

@media all and (max-width: 78em) {
	
}

@media all and (max-width: 40em) {
	.panel-slnswww1-home-contact-strip {
		padding: 0;
		width: 100%;
	}

	.panel-slnswww1-home-contact-strip-col-1 {
		float: none;
		margin: 0 auto;
		border-bottom: 1px solid #d8d8d8;
		width: 94%;
	}

	.panel-slnswww1-home-contact-strip-col-2 {
		float: none;
		margin: 0 auto;
		width: 94%;
		max-width: 94%;
	}
}