/* styles specific to slnswww1-home layout ************************
****************************************************************/

.panel-slnswww1-home-header {
	width: 100%;
	position: relative;
}

.panel-slnswww1-top-art {
	padding: 30px 0 34px 0;
	background: url(../../images/art-nations.png) left top no-repeat;
	background-size: cover;
}

.panel-slnswww1-top-wrapper {
	margin: 0 auto;
	max-width: 1200px;
}

.panel-slnswww1-home-top-col-one {
	float: left;
	width: 26%;
}

.panel-slnswww1-home-top-col-two {
	float: left;
	margin: 0 3%;
	width: 43%;
}

.panel-slnswww1-home-top-col-three {
	float: left;
	width: 25%;
}

.panel-slnswww1-home-main {
	clear: both;
	margin: 30px auto;
	max-width: 1200px;
}

.panel-slnswww1-home-footer {
	width: 100%;
}

@media all and (max-width: 78em) {
	.panel-slnswww1-home-top-col-one {
		display: none;
	}
	
	.panel-slnswww1-home-top-col-two {
		float: left;
		margin: 0 4%;
		width: 60%;
	}

	.panel-slnswww1-home-top-col-three {
		float: left;
		margin: 0 3 0 0;
		width: 29%;
	}
}

@media all and (max-width: 40em) {
	.panel-slnswww1-top-art {
		padding: 10px 0;
	}
	
	.panel-slnswww1-home-top-col-two {
		display: none;
	}

	.panel-slnswww1-home-top-col-three {
		float: none;
		margin: 0 auto;
		width: 96%;
	}
}